services:
  app:
    build:
      context: .

    container_name: roomtime_app
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "${APP_PORT:-8000}:8000"
  postgres:
    image: postgres:16
    container_name: roomtime_postgres
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init/db:/docker-entrypoint-initdb.d
    ports:
      - "5440:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: roomtime_redis
    restart: always
    ports:
      - "6379:6379"

  mailhog:
    image: mailhog/mailhog
    container_name: roomtime_mailhog
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  pgdata:
  uploads:
